@import url('https://fonts.googleapis.com/css?family=Comforter');
    @import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

    h1 {
      font-size: 10rem;
      font-family: 'Comforter';
    }

    p,
    button {
      font-size: 2.5rem;
      font-family: 'Shadows Into Light';
    }

    a {
      color: #FFF;
      text-decoration: underline;
    }

    a:hover {
      text-decoration: none;
      color: rgb(167, 167, 167)
    }

    body {
      margin-left: 0;
      margin-right: 0;
      height: 100vh;
      width: 100vw;
      background-color: #202020;
      color: #FFF;
      overflow-y: scroll;
      overflow-x: hidden;
    }

    div.body {
      margin-left: 20%;
      margin-right: 20%;
      margin-top: 3em;
      margin-bottom: 3em;
      text-align: center;
    }

    img#home-button {
      position: sticky;
      width: 35px;
      top: 10px;
      left: 10px;
      transition: 0.3s;
    }

    img#home-button.light {
      filter: invert(1);
      width: 30px;
    }

    img#home-button:hover {
      opacity: 0.5;
      cursor: pointer;
    }

    button#music-button {
      font-family: 'Shadows Into Light';
      color: black;
      background-color: white;
      border-radius: 20px;
      padding: 0 15px;
      border: 0px;
      position: sticky;
      bottom: 10px;
      left: 10px;
      transition: 0.3s;
    }

    button#music-button:hover {
      filter: brightness(0.8);
      cursor: pointer;
    }

    ::-webkit-scrollbar {
      width: 15px;
    }

    ::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 1);
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: rgba(255, 255, 255, 0.7);
    }

    ::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0);
      border: dashed 2px white;
      border-radius: 10px;
    }